<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.sinchon.mapper.RoomMapper">
	<!-- 호스트가 등록한 모든 방 조회 -->
	<select id="getList" resultType="com.project.sinchon.vo.roomVO">
		SELECT room_ID, room_type, room_img, bed, bathroom, capacity, price_day, price_month
		FROM room
	</select>

	<!-- 예약가능한 방 출력하기 : 기본값 시스템 시간 기준 1박2일 -->
	<select id="getAbleList" resultType="com.project.sinchon.vo.roomVO">
		SELECT room_ID, room_type, room_img, bed, bathroom, capacity, price_day, price_month
		FROM room
		WHERE room_ID NOT IN
  			(SELECT DISTINCT room_ID
			 FROM reservation_room
			 WHERE res_date BETWEEN curdate() AND date_format(curdate()+1, '%Y-%m-%d'));
	</select>
	
	<!-- 예약가능한 방 출력하기 : 사용자 입력값에 따라 출력 -->
	<select id="getSearchList" resultType="com.project.sinchon.vo.roomVO">
		SELECT room_ID, room_type, room_img, bed, bathroom, capacity, price_day, price_month
		FROM room
		WHERE room_ID NOT IN
  			(SELECT DISTINCT room_ID
			 FROM reservation_room
			 WHERE res_date BETWEEN #{checkIn} AND #{checkOut});
	</select>


</mapper>
