<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.sinchon.mapper.user">
	<select id="findByUserId" resultType="com.project.sinchon.dto.UserDTO">
		SELECT user_ID, pwd, ishost
		FROM user
		WHERE user_ID = #{user_ID}
	</select>
</mapper>